const config = {
  BARCOORDINATOR_MONGOLAB_URI: '',
  BARCOORDINATOR_FACEBOOK_APP_ID: '',
  BARCOORDINATOR_FACEBOOK_APP_SECRET: '',
  BARCOORDINATOR_SESSION_SECRET: '',
  AWS_SECRET_ACCESS_KEY: '',
  AWS_ACCESS_KEY_ID: '', 
};

export default config;